.container {
  display: flex;
  width: 80%;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.title {
  display: block;
  width: 100%;
  justify-items: center;
  margin: 30px auto;
  text-align: center;
}

.buttom {
  width: 180px; 
  height: 25px; 
  margin: auto;
}

.separator {
  margin: 20px auto;
  color: #ccd1d1;
}